* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .containers {
    column-width: 250px;
    column-gap: 20px;
  }
  
  .cards {
    break-inside: avoid;
  page-break-inside: avoid;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 0 0 1em 0;
  }

  .subcategory-head {
    margin-right: 700px;
    font-weight: bold;
  }